.navbar div {
  white-space: nowrap;
  overflow: hidden;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom:1rem;
}

.navbar .dropdown-menu {
 border:none;
 background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
 
 /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
 padding-top:0px;
 padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
 padding:.5rem .5rem;
 margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
 width:100%;
 left:0;
 right:0;
/*  height of nav-item  */
 top:45px;
 
 display:block;
 visibility: hidden;
 opacity: 0;
 transition: visibility 0s, opacity 0.3s linear;
 
}
 
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
}

.mainForm {
	margin-left: 6px;
}

#add-c {
	margin: 6px 6px 0px 143px;
}

#add-p {
	margin: 6px 6px 0px 137px;
}

#add-pd {
	margin: 6px 6px 0px 106px;
}

#remove-pd {
	margin: 6px 6px 0px 5px;
}

#add-o {
	margin: 6px 6px 0px 135px;
}

#add-od {
	margin: 6px 6px 0px 133px;
}

#add-b {
	margin: 6px 6px 0px 117px;
}

#add-s {
	margin: 6px 6px 0px 130px;
}

.disp-btn {
	margin: 0px 6px 0px 10px;
}

.dispForm {
	margin: 6px 6px 0px 10px;
}

.search-btn {
	margin: 0px 0px 0px 33px;
}

.modForm {
	margin: 6px 6px 0px 10px;
}

.update-btn {
	margin: 6px 0px 0px 124px;
}

.db-table {
	padding: 5px 10px;
 	white-space: nowrap;
 	overflow: hidden;
}

.db-table th {
	padding: 5px 10px;
	text-align: center;
	border-style: solid;
	border-width: thick;
}

.db-table td {
	padding: 5px 10px;
	text-align: center;
	border-style: solid;
	border-width: thin;
}
