<a href="/">Home</a>
<h1>Add Products</h1>

<div class="add_new">
    <form action="/products/add_products" method="post"> 
        <label>Name: <input type="text" name="pname" required></label>
        <br>
        <br>
        <label>Price: <input type="text" name="price" required></label>
        <br>
        <br>
        <input type="submit" value="Add" />
    </form>
    <br>
    <button onclick="window.history.back()">Return</button>
</div>