<a href="/">Home</a>
<h1>Add Beans</h1>

<div class="add_new">
    <form action="/beans/add_beans" method="post"> 
        <label>Name: <input type="text" name="bname" required></label>
        <br>
        <br>
        <input type="submit" value="Add" />
    </form>
    <br>
    <button onclick="window.history.back()">Return</button>
</div>