<a href="/">Home</a>
<h1>Add Suppliers</h1>

<div class="add_new">
    <form action="/suppliers/add_suppliers" method="post"> 
        <label>Name: <input type="text" name="name" required></label>
        <br>
        <br>
        <label>Street: <input type="text" name="street" required></label>
        <br>
        <br>
        <label>City: <input type="text" name="city" required></label>
        <br>
        <br>
        <label>State: <input type="text" name="state" required></label>
        <br>
        <br>
        <label>Postal: <input type="text" name="postal" required></label>
        <br>
        <br>
        <label>Country: <input type="text" name="country" required></label>
        <br>
        <br>
        <input type="submit" value="Add" />
    </form>
    <br>
    <button onclick="window.history.back()">Return</button>
</div>