<h1>The Busy Bean Database</h1>

<div>
<a href="/customers/add_customers" id="add_customers">Add Customers</a>
</br>
<a href="/products/add_products" id="add_products">Add Products</a>
</br>
<a href="/orders/add_orders" id="add_orders">Add Orders</a>
</br>
<a href="/beans/add_beans" id="add_beans">Add Beans</a>
</br>
<a href="/suppliers/add_suppliers" id="add_suppliers">Add Suppliers</a>
</div>
