<h1>">Display Orders</h1>
<a href="/" class="button">Home</a>
</br>
</br>

<div>
    <table>
        <thead>
            <tr>
                <th>orderID</th>
                <th>customerID</th>
                <th>Order Date</th>
                <th>Shipped Date</th>
            </tr>
        </thead>

        <tbody>
            {{#each orders}}
            <tr>
                <td>{{orderID}}</td>
                <td>{{customerID}}</td>
                <td>{{orderDate}}</td>
                <td>{{shippedDate}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    </br>
    <a href="/orders/add_orders" id="add_orders">Add Orders</a>
</div>

